* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat';
}

.form-container {
	display: flex;
	flex-direction: column;
	max-height: 80vh;
	overflow-y: auto;
	border: 1px solid #444;
	padding: 4em;
	gap: 2em;
}

.form-container::-webkit-scrollbar {
	width: 8px; /* Szerokość paska przewijania */
}

/* Styl dla wypełnienia paska przewijania */
.form-container::-webkit-scrollbar-thumb {
	background-color: #334fb4; /* Kolor paska przewijania */
	border-radius: 20px;
}

/* Styl dla tła paska przewijania */
.form-container::-webkit-scrollbar-track {
	background-color: #f0f0f0; /* Kolor tła paska przewijania */
}

.main-form {
	display: flex;
	gap: 2em;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 3.5em;
	padding: 2em 3em;
	width: 50%;
}

legend {
	color: #334fb4;
	font-size: 2.5rem;
	padding: 0 1em;
	font-weight: 600;
}

.input-container {
	position: relative;
}

.input-container input {
	padding: 0.2em 0.4em;
	border: none;
	border-bottom: 1px solid #444;
	font-size: 1.9rem;
	outline: none;
	color: #444;
	width: 100%;
}

.input-container span {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.9rem;
	color: #929298;
	pointer-events: none;
	padding: 0.2em 0.4em;
	transition: top 0.5s;
}

.input-container input:focus ~ span,
.input-container input:valid ~ span {
	top: -1.3em;
	font-size: 1.1rem;
	color: #334fb4;
	font-weight: 600;
}

.input-container input:focus,
.input-container input:valid {
	border-color: #334fb4;
}

.btn-add,
.clear-btn,
.generate-btn {
	font-size: 1.5rem;
	padding: 0.6em 1.2em;
	background-color: #334fb4;
	width: fit-content;
	color: #eee;
	border-radius: 3px;
	cursor: pointer;
}

.table {
	display: none;
	flex-direction: column;
	width: 100%;
	flex-basis: 100%;
	flex-grow: 1;
}

.tableHead,
.body-el {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 0.7em;
}


.tableFooter {
	width: 100%;
}

.body-el {
	background-color: #f7f8fd;
	padding: 0.7em;
	margin: 1em 0;
	border-radius: 5px;
}

.table p {
	color: #334fb4;
	font-size: 1.4rem;
	font-weight: 500;
}

.table-name,
.table-name2 {
	min-width: 20em;
}

.table-amount,
.table-amount2 {
	min-width: 5em;
}

.table-price,
.table-price2 {
	min-width: 8em;
}

.table-all,
.table-all2,
.table-all-price,
.sum {
	min-width: 10em;
}
.table-action {
	font-size: 1.4rem;
	min-width: 4em;
}

.sum {
	text-align: right;
}

p.edit-btn,
p.del-btn {
	cursor: pointer;
}

.par-container {
	display: flex;
	justify-content: end;
	font-size: 1.4rem;
	min-width: 4em;
}

p.del-btn {
	width: fit-content;
	color: #d21f3d;
	font-weight: 600;
	opacity: 0.6;
	transition: opacity 0.3s;
}

p.del-btn:hover {
	opacity: 1;
}

p.edit-btn {
	color: #26ae14;
}
.div-action {
	min-width: 4em;
	font-size: 1.4rem;
	display: flex;
	gap: 10px;
	justify-content: start;
	align-items: start;
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

.currencies,
.methods {
	display: flex;
	gap: 10px;
}

.currency,
.method {
	padding: 7px 14px;
	font-size: 1.6rem;
	color: #333;
	background-color: #f7f8fd;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid transparent;
}

.active, .active-method {
	border: 2px solid #334fb4;
}

.signature-wrapper {
	width: 100%;
	padding: 0;
}

.signature-wrapper legend {
	margin-left: 1em;
}

.signature-pad {
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #ffffff;
}

.btns-container {
	display: flex;
	gap: 1em;
}
